<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<%= form_for(@user) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username  %>

    <%= f.label :password %>
    <%= f.text_field :password  %>

    <%= f.submit "Create account" %>
<% end %>