    <section class="content-header">
      <h1>
        ส่วนการจัดการ ลูกค้า(เจ้าของรถ)<small>การค้นหาและจัดการ</small>
      </h1>
      <br/>
      <b>คำแนะนำการใช้งาน</b>
      <ul>

        <li>ข้อมูลเรียงลำดับตามที่เพิ่มเข้าไปล่าสุด</li>
        <li>การค้นหาสามารถค้นหาได้โดย เบอร์โทรศัพท์และชื่อ</li>

      </ul>
    </section>

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="box">
          <table id="customertable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"  width="100%" >
            <thead>
            <tr>
              <th>ชื่อ</th>
              <th>นามสกุล</th>
              <th>เบอร์ติดต่อ1</th>
              <th>เบอร์ติดต่อ2</th>

              <th></th>
            </tr>
            </thead>
            <tbody style="text-align: center">
            </tbody>

          </table>
        </div>

      </div>
    </div>


    <!-- Modal -->

    <div class="modal" id="modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">ข้อมูลรถโดยละเอียด</h4>
          </div>
          <div id="modal-body" class="modal-body">
            <p>One fine body…</p>
          </div>
          <!--  >div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">ปิดหน้าต่าง</button>
          </div -->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>



    <script type="text/javascript">

        $(document).ready(function() {

            var dataTable = $("#customertable").dataTable({
                "bServerSide" : true,
                responsive : true,
                "bSort" : false,
                "bProcessing": true,
                "sAjaxSource" : "../customer_dt",
                aoColumns : [
                    { data : 'name' },
                    { data : 'lastname'},
                    { data : 'tel1' },
                    { data : 'tel2' },
                ],
                language: {
                    "lengthMenu": "แสดง _MENU_ รายการ ต่อ หน้า",
                    "zeroRecords": "ไม่พบ - ขอภัย",
                    "info": "กำลังแสดงpage _PAGE_ จาก _PAGES_",
                    "infoEmpty": "ไม่พบผลลัพธ์....",
                    "infoFiltered": "(กรอง จาก _MAX_ รายการ)",
                    "search":         "ค้นหา:",
                    "paginate": {
                        "first":      "หน้าแรก",
                        "last":       "หน้าสุดท้าย",
                        "next":       "ถัดไป",
                        "previous":   "ก่อนหน้า"
                    }
                }
            });





        });


    </script>