<!DOCTYPE html>
<html>
<head>
  <title>CSM2</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <!--Template css-->
		  <!-- Bootstrap 3.3.4 -->
		  <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"
				type="text/css" />
		  <!-- FontAwesome 4.3.0 -->
		  <link
		  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
		  rel="stylesheet" type="text/css" />
		  <!-- Ionicons 2.0.0 -->
		  <link
		  href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
		  rel="stylesheet" type="text/css" />
		  <!-- Theme style -->
		  <link href="../dist/css/AdminLTE.min.css" rel="stylesheet"
				type="text/css" />
		  <!-- AdminLTE Skins. Choose a skin from the css/skins
				   folder instead of downloading all of them to reduce the load. -->
		  <link href="../dist/css/skins/_all-skins.min.css" rel="stylesheet"
				type="text/css" />
		  <!-- iCheck -->
		  <link href="../plugins/iCheck/flat/blue.css" rel="stylesheet"
				type="text/css" />
		  <!-- Morris chart -->
		  <link href="../plugins/morris/morris.css" rel="stylesheet"
				type="text/css" />
		  <!-- jvectormap -->
		  <link href="../plugins/jvectormap/jquery-jvectormap-1.2.2.css"
				rel="stylesheet" type="text/css" />
		  <!-- Date Picker -->
		  <link href="../plugins/datepicker/datepicker3.css" rel="stylesheet"
				type="text/css" />
		  <!-- Daterange picker -->
		  <link href="../plugins/daterangepicker/daterangepicker-bs3.css"
				rel="stylesheet" type="text/css" />

		  <!-- DATA TABLES -->
		  <link href="../plugins/datatables/dataTables.bootstrap.css"
				rel="stylesheet" type="text/css" />
		  <!-- bootstrap wysihtml5 - text editor -->
		  <link
		  href="../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css"
		  rel="stylesheet" type="text/css" />

		  <link
		  href="https://cdn.datatables.net/responsive/1.0.7/css/responsive.bootstrap.min.css"
		  rel="stylesheet" type="text/css" />

		  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		  <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		  <![endif]-->


  <!--Template css-->

</head>
<body class="sidebar-mini skin-red-light layout-boxed">
<div class="wrapper">

  <header class="main-header">
	<!-- Logo -->
	<a href="index2.html" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
	  <span class="logo-mini"><b>A</b>LT</span> <!-- logo for regular state and mobile devices -->
	  <span class="logo-lg"><b>CSM</b>v.2</span>
	</a>
	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top" role="navigation">
	  <!-- Sidebar toggle button-->
	  <a href="#" class="sidebar-toggle" data-toggle="offcanvas"
		 role="button"> <span class="sr-only">Toggle navigation</span>
	  </a>

	  <div class="navbar-custom-menu">
		<div class="pull-right">
		  <a href="logout" class="btn btn-default btn-flat">ออกจากระบบ</a>
		</div>
	  </div>

	</nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
	  <!-- Sidebar user panel -->
	  <div class="user-panel">
		<div class="pull-left image">
		  <img src="assert/dist/img/user2-160x160.jpg" class="img-circle"
			   alt="User Image" />
		</div>
		<div class="pull-left info">
		  <p>Alexander Pierce</p>

		  <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
		</div>
	  </div>
	  <!-- search form -->
	  <form action="#" method="get" class="sidebar-form">
		<div class="input-group">
		  <input type="text" name="q" class="form-control"
				 placeholder="Search..." /> <span class="input-group-btn">
							<button type='submit' name='search' id='search-btn'
									class="btn btn-flat">
							  <i class="fa fa-search"></i>
							</button>
						</span>
		</div>
	  </form>
	  <!-- /.search form -->
	  <!-- sidebar menu: : style can be found in sidebar.less -->
	  <ul class="sidebar-menu">
		<li class="header">เมนูการใช้งานหลัก</li>

		<li><a href="dash"><i class="fa fa-dashcube"></i> <span>หน้าแสดงสถาณะทั้งหมด</span></a></li>
		<li><a href="car"><i class="fa fa-car"></i> <span>ค้นหารถ</span></a></li>
		<li><a href="customer"><i class="fa fa-user"></i> <span>ค้นหาลูกค้า(เจ้าของรถ)</span></a></li>

	  </ul>
	</section>
	<!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	<!-- Content Header (Page header) -->




	<!-- Main content -->
	<%= yield %>
	<!-- /.content -->







  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
	<div class="pull-right hidden-xs">
	  <b>Version</b> 2.0
	</div>
	<strong>Copyright &copy; 2014-2015 <a href="#">Novice CI</a>.
	</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
	<!-- Create the tabs -->
	<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
	  <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i
	  class="fa fa-home"></i></a></li>

	  <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i
	  class="fa fa-gears"></i></a></li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
	  <!-- Home tab content -->
	  <div class="tab-pane" id="control-sidebar-home-tab">
		<h3 class="control-sidebar-heading">Recent Activity</h3>
		<ul class='control-sidebar-menu'>
		  <li><a href='javascript::;'> <i
		  class="menu-icon fa fa-birthday-cake bg-red"></i>
			<div class="menu-info">
			  <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
			  <p>Will be 23 on April 24th</p>
			</div>
		  </a></li>
		  <li><a href='javascript::;'> <i
		  class="menu-icon fa fa-user bg-yellow"></i>
			<div class="menu-info">
			  <h4 class="control-sidebar-subheading">Frodo Updated His
				Profile</h4>
			  <p>New phone +1(800)555-1234</p>
			</div>
		  </a></li>
		  <li><a href='javascript::;'> <i
		  class="menu-icon fa fa-envelope-o bg-light-blue"></i>
			<div class="menu-info">
			  <h4 class="control-sidebar-subheading">Nora Joined Mailing
				List</h4>
			  <p>nora@example.com</p>
			</div>
		  </a></li>
		  <li><a href='javascript::;'> <i
		  class="menu-icon fa fa-file-code-o bg-green"></i>
			<div class="menu-info">
			  <h4 class="control-sidebar-subheading">Cron Job 254
				Executed</h4>
			  <p>Execution time 5 seconds</p>
			</div>
		  </a></li>
		</ul>
		<!-- /.control-sidebar-menu -->

		<h3 class="control-sidebar-heading">Tasks Progress</h3>
		<ul class='control-sidebar-menu'>
		  <li><a href='javascript::;'>
			<h4 class="control-sidebar-subheading">
			  Custom Template Design <span
			class="label label-danger pull-right">70%</span>
			</h4>
			<div class="progress progress-xxs">
			  <div class="progress-bar progress-bar-danger"
				   style="width: 70%"></div>
			</div>
		  </a></li>
		  <li><a href='javascript::;'>
			<h4 class="control-sidebar-subheading">
			  Update Resume <span class="label label-success pull-right">95%</span>
			</h4>
			<div class="progress progress-xxs">
			  <div class="progress-bar progress-bar-success"
				   style="width: 95%"></div>
			</div>
		  </a></li>
		  <li><a href='javascript::;'>
			<h4 class="control-sidebar-subheading">
			  Laravel Integration <span class="label label-waring pull-right">50%</span>
			</h4>
			<div class="progress progress-xxs">
			  <div class="progress-bar progress-bar-warning"
				   style="width: 50%"></div>
			</div>
		  </a></li>
		  <li><a href='javascript::;'>
			<h4 class="control-sidebar-subheading">
			  Back End Framework <span class="label label-primary pull-right">68%</span>
			</h4>
			<div class="progress progress-xxs">
			  <div class="progress-bar progress-bar-primary"
				   style="width: 68%"></div>
			</div>
		  </a></li>
		</ul>
		<!-- /.control-sidebar-menu -->

	  </div>
	  <!-- /.tab-pane -->
	  <!-- Stats tab content -->
	  <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab
		Content</div>
	  <!-- /.tab-pane -->
	  <!-- Settings tab content -->
	  <div class="tab-pane" id="control-sidebar-settings-tab">
		<form method="post">
		  <h3 class="control-sidebar-heading">General Settings</h3>
		  <div class="form-group">
			<label class="control-sidebar-subheading"> Report panel
			  usage <input type="checkbox" class="pull-right" />
			</label>
			<p>Some information about this general settings option</p>
		  </div>
		  <!-- /.form-group -->

		  <div class="form-group">
			<label class="control-sidebar-subheading"> Allow mail
			  redirect <input type="checkbox" class="pull-right" />
			</label>
			<p>Other sets of options are available</p>
		  </div>
		  <!-- /.form-group -->

		  <div class="form-group">
			<label class="control-sidebar-subheading"> Expose author
			  name in posts <input type="checkbox" class="pull-right" />
			</label>
			<p>Allow the user to show his name in blog posts</p>
		  </div>
		  <!-- /.form-group -->

		  <h3 class="control-sidebar-heading">Chat Settings</h3>

		  <div class="form-group">
			<label class="control-sidebar-subheading"> Show me as
			  online <input type="checkbox" class="pull-right" />
			</label>
		  </div>
		  <!-- /.form-group -->

		  <div class="form-group">
			<label class="control-sidebar-subheading"> Turn off
			  notifications <input type="checkbox" class="pull-right" />
			</label>
		  </div>
		  <!-- /.form-group -->

		  <div class="form-group">
			<label class="control-sidebar-subheading"> Delete chat
			  history <a href="javascript::;" class="text-red pull-right"><i
			class="fa fa-trash-o"></i></a>
			</label>
		  </div>
		  <!-- /.form-group -->
		</form>
	  </div>
	  <!-- /.tab-pane -->
	</div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
	 immediately after the control sidebar -->
  <div class='control-sidebar-bg'></div>
</div>
<!-- ./wrapper -->















		<!--Js template-->
		<!-- ./wrapper -->

		<!-- jQuery 2.1.4 -->
		<script src="../plugins/jQuery/jQuery-2.1.4.min.js"></script>
		<!-- jQuery UI 1.11.2 -->
		<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js"
				type="text/javascript"></script>
		<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
		<script>
			$.widget.bridge('uibutton', $.ui.button);
		</script>
		<!-- Bootstrap 3.3.2 JS -->
		<script src="../bootstrap/js/bootstrap.min.js"
				type="text/javascript"></script>
		<!-- Morris.js charts -->
		<script type="text/javascript" src="../plugins/chartjs/Chart.js"></script>
		<script
		src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
		<script src="../plugins/morris/morris.min.js"
				type="text/javascript"></script>
		<!-- Sparkline -->
		<script src="../plugins/sparkline/jquery.sparkline.min.js"
				type="text/javascript"></script>
		<!-- jvectormap -->
		<script src="../plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"
				type="text/javascript"></script>
		<script
		src="../plugins/jvectormap/jquery-jvectormap-world-mill-en.js"
		type="text/javascript"></script>
		<!-- jQuery Knob Chart -->
		<script src="../plugins/knob/jquery.knob.js" type="text/javascript"></script>
		<!-- daterangepicker -->
		<script
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"
		type="text/javascript"></script>
		<script src="../plugins/daterangepicker/daterangepicker.js"
				type="text/javascript"></script>
		<!-- datepicker -->
		<script src="../plugins/datepicker/bootstrap-datepicker.js"
				type="text/javascript"></script>
		<!-- Bootstrap WYSIHTML5 -->
		<script
		src="../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"
		type="text/javascript"></script>
		<!-- Slimscroll -->
		<script src="../plugins/slimScroll/jquery.slimscroll.min.js"
				type="text/javascript"></script>
		<!-- FastClick -->
		<script src='../plugins/fastclick/fastclick.min.js'></script>
		<!-- AdminLTE App -->
		<script src="../dist/js/app.min.js" type="text/javascript"></script>



		<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
		<script src="../dist/js/pages/dashboard.js" type="text/javascript"></script>

		<!-- AdminLTE for demo purposes -->
		<script src="../dist/js/demo.js" type="text/javascript"></script>

		<!-- DATA TABES SCRIPT -->
		<script src="../datatables.js" type="text/javascript"></script>
		<script src="../plugins/datatables/dataTables.bootstrap.min.js"
				type="text/javascript"></script>

		<script src="../utils.js" type="text/javascript"></script>
		.

		<script
		src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"
		type="text/javascript"></script>
		<!--Js template-->


</body>
</html>
